/* -------------------------------------------------- 
   :: Reset 
   ----------------------------------------------- */

.brew-guide {
  line-height: 1;
}

.brew-guide h1, .brew-guide h2, .brew-guide h3, .brew-guide p, .brew-guide a, .brew-guide ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}