/* -------------------------------------------------- 
   :: Reset 
   ----------------------------------------------- */.brew-guide {
  line-height: 1;
}.brew-guide h1, .brew-guide h2, .brew-guide h3, .brew-guide p, .brew-guide a, .brew-guide ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}/* Dimensions *//* Colours *//* Animation-related *//* General layout */.red-bg-container {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}.welcome .red-bg {
  -webkit-transform: translateX(742px);
          transform: translateX(742px);
  -webkit-transition: all 1.4s cubic-bezier(0,.7,.3,1);
  transition: all 1.4s cubic-bezier(0,.7,.3,1);
}.red-bg {
  background: #e9532f;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: 1;
  -webkit-transition: all .8s cubic-bezier(0,.7,.3,1);
  transition: all .8s cubic-bezier(0,.7,.3,1);
}.brew-guide {
  background: none;
  height: 500px;
  width: 742px;
  position: absolute;
    top: 50%;
    left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width .5s linear;
  transition: width .5s linear;
}html[data-next="2"] .brew-guide {
  width: 735px;
}html[data-next="1"] .brew-guide {
  width: 701px;
}html[data-next="0"] .brew-guide {
  width: 667px;
}.cssanimations .brew-guide {
  -webkit-animation: introduce-container 1.2s .3s cubic-bezier(0,1,.5,1.17) forwards;
  animation: introduce-container 1.2s .3s cubic-bezier(0,1,.5,1.17) forwards;
  opacity: 0;
}.brew-guide * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}.brew-guide *:after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}/* Welcome step styles */.brew-guide .welcome-container {
  padding: 40px 80px;
  width: 100%;
  max-width: 600px;
}.brew-guide .title {
  color: #e9532f;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.25;
}.brew-guide .title h1 {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}.brew-guide .description {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
  color: #e9532f;
  font-size: 15px;
  padding: 32px 20px 38px 110px;
  line-height: 1.6;
}.brew-guide .youll-need {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
  border: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 420px;
  padding: 16px 10px 8px;
  position: relative;
  width: 100%;
}.brew-guide .youll-need:before {
  background: #fff;
  content: "You'll need:";
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.5px;
  font-weight: 600;
  position: absolute;
  top: -4px;
  left: -4px;
  width: 114px;
  height: 26px;
}.brew-guide .youll-need .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}.brew-guide .youll-need .col:first-child {
  width: 60%;
}.brew-guide .youll-need .col:last-child {
  width: 40%;
}.brew-guide .youll-need .icon {
  background-size: 22px 22px;
  background: no-repeat bottom center;
  display: inline-block;
  font-size: 12px;
  font-weight: 800;
  position: relative;
  width: 32px;
  height: 40px;
  margin: 16px 10px;
}.brew-guide .youll-need .icon .label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}.brew-guide .youll-need .amount {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  background-image: url(../images/icons/icon-coffee-grounds.svg);
}.brew-guide .youll-need .coarseness {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
  display: inline-block;
  height: 40px;
  margin: 16px 10px;
  position: relative;
}.brew-guide .youll-need .coarseness .arrow {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  position: absolute;
  top: 33px;
}.brew-guide .youll-need .coarseness .label {
  text-transform: uppercase;
  display: block;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding-bottom: 10px;
}.brew-guide .youll-need .coarseness.level-1 .arrow {
  left: -4px;
}.brew-guide .youll-need .coarseness.level-2 .arrow {
  left: 8px;
}.brew-guide .youll-need .coarseness.level-3 .arrow {
  left: 18px;
}.brew-guide .youll-need .coarseness.level-4 .arrow {
  left: 29px;
}.brew-guide .youll-need .coarseness.level-5 .arrow {
  left: 39px;
}.brew-guide .youll-need .coarseness.level-6 .arrow {
  left: 48px;
}.brew-guide .youll-need .coarseness.level-7 .arrow {
  left: 57px;
}.brew-guide .youll-need .coarseness.level-8 .arrow {
  left: 67px;
}.brew-guide .youll-need .coarseness.level-9 .arrow {
  left: 76px;
}.brew-guide .youll-need .coarseness.level-10 .arrow {
  left: 85px;
}.brew-guide .youll-need .coarseness.level-11 .arrow {
  left: 94px;
}.brew-guide .youll-need .coarseness.level-12 .arrow {
  left: 103px;
}.brew-guide .youll-need .coarseness.level-13 .arrow {
  left: 111px;
}.brew-guide .youll-need .coarseness.level-14 .arrow {
  left: 120px;
}.brew-guide .youll-need .temp {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
  background-image: url(../images/icons/icon-temperature.svg);
}.brew-guide .youll-need .water {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  background-image: url(../images/icons/icon-water.svg);
}.brew-guide .youll-need .time {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
  background-image: url(../images/icons/icon-time.svg);
}.brew-guide .youll-need .cups {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
  background-image: url(../images/icons/icon-cup.svg);
  background-size: 26px;
  background-position: 4px 18px;
}.brew-guide .youll-need .items {
  margin: 16px 0;
}.brew-guide .youll-need .items li {
  line-height: 1.6;
  font-size: 16px;
}.brew-guide .youll-need .items li:before {
  content: "\2013\ ";
}.main-content {
  background: #fff;
  height: 500px;
  position: relative;
  width: 615px;
  margin: 0 0 0 30px; /* Adjust the left margin based on number of previous items */
  z-index: 5;
}/*.main-content.shadowed {
  box-shadow: 0 1px 12px 2px #D05C47;
}*//* Steps */.steps {
  z-index: 1;
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}.steps .step {
  background: #ed764f;
  height: 500px;
  cursor: pointer;
  display: inline-block;
  left: 0;
  will-change: opacity;
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
  position: absolute;
}.steps .step:hover {/*transition: all .5s ease-out;*/
}.steps .step-title {
  font-weight: 800;
  position: absolute;
  left: -62px;
  top: 112px;
  width: 160px;
  opacity: 0;
  -webkit-transition: opacity .3s .5s linear;
  transition: opacity .3s .5s linear;
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}.steps .previous {
  width: 16px;
}.steps .previous .step-title {
  opacity: 1;
}.steps .current {
  background: #ed764f;
  cursor: default;
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px);
  width: 40px;
  opacity: 1;
  z-index: 2;
}.steps .current .step-title {
  opacity: 1;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  left: -62px;
}.steps .previous {
  background: #ef8661;
  width: 16px;
  -webkit-transform: translateX(-17px);
  transform: translateX(-17px);
}/*transition-delay: 1s, 1s, 1s;*/.steps .previous .step-title {
  opacity: 0;/*transition-delay: .6s;*/
}.steps .next {
  width: 38px;
}.steps .next .step-title {
  opacity: 1;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}.steps .next:hover .step-title {
  -webkit-transform: rotateZ(-90deg) translateY(5px);
  transform: rotateZ(-90deg) translateY(5px);
}.steps .next.bg-0 {
  background: #ed764f;
}.steps .next.bg-1 {
  background: #ef8661;
}.steps .next.bg-2 {
  background: #f19572;
}.steps .next-0 {
  -webkit-transform: translateX(642px);
  transform: translateX(642px);
}.steps .next-1 {
  -webkit-transform: translateX(677px);
  transform: translateX(677px);
}.steps .next-2 {
  -webkit-transform: translateX(712px);
  transform: translateX(712px);
}.brew-guide.welcome .next.bg-0 {
  background: #e9532f;
}.welcome .step.current {
  display: none;
}.step[data-step="welcome"] {
  background: #ef8661;
  width: 16px;
  -webkit-transform: translateX(-17px);
          transform: translateX(-17px);
}/*transition-delay: 1s, 1s, 1s;*/.step[data-step="welcome"] .step-title {
  opacity: 0;/*transition-delay: .6s;*/
}/*.step[data-step="welcome"]:hover {
  width: 24px;
  transform: translateX(-22px);
}*//* Background images */.step-bg-container {
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
  z-index: 1; 
}.step-bg-container .step-bg {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}.step-bg-container .step-bg img {
  display: block;
  height: 100%;
  max-height: 500px;
  max-width: 100%;
  margin: 0 auto;
}.step-bg-container .step-bg.current {
  opacity: 1;
}.step-bg {
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
  text-align: center;
  opacity: 0;

}.step-bg.hide {
  -webkit-animation: fade-out .3s ease-out forwards;
          animation: fade-out .3s ease-out forwards;
  opacity: 1;
}.step-bg.current {
  -webkit-animation: fade-in-left 2.5s cubic-bezier(0,.7,.3,1) forwards;
          animation: fade-in-left 2.5s cubic-bezier(0,.7,.3,1) forwards;
  opacity: 0;
}/* Actions */.actions-container {
  background: #fff;
  bottom: -1px;
  height: 22%;
  opacity: 0;
  position: absolute;
  width: 100%;
}.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16px;
  margin-left: 20%;
  position: relative;
  width: 483px;
}.actions .action {
  cursor: pointer;
  display: inline-block;
  border-top: 2px solid transparent;
  height: 10px;
  list-style: none;
  margin: 0;/* padding: 10px;*/
  position: relative;
  min-width: 26px;
  top: -1px;
  z-index: 10;
}.actions .action:after {
  content: "";
  background: #000;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: 0px;
  width: 6px;
  height: 6px;
}.actions .action.current:after {
  -webkit-animation: highlight-current-action 1s cubic-bezier(.54,-0.41,.29,1.42) forwards;
  animation: highlight-current-action 1s cubic-bezier(.54,-0.41,.29,1.42) forwards;
  background: #fff;
}.actions .action.zero {
  display: none;
}.actions .action.timed {
  border-top: 2px solid #000;/*    margin-left: -2px;*/
}.actions .timed-area {
  min-width: 74.5%;
}.actions .action.standalone {
  min-width: 20px;
}.actions .action.standalone:last-child {/*width: 210px;
    margin-left: -20px;*/
  left: -5px;
}.actions .timed-area {
  position: relative;
  margin-left: 20px;
}.actions .timer {
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: -24px;
}.actions .start-time {
  left: -2px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}.actions .end-time {
  right: -3px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}.actions .new-end-time {
  left: auto !important;
  right: -3px;
}.actions .timer-bar {
  height: 12px;
  background: #baddd4;
  position: absolute;
  top: 0px;
  left: 3px;
  width: 0;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}.actions-container-container {
  overflow: hidden;
  position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  z-index: 1;
}.brew-guide:not(.welcome) .actions-container {
  -webkit-animation: show-actions-area 1s cubic-bezier(0,.7,.3,1) forwards;
          animation: show-actions-area 1s cubic-bezier(0,.7,.3,1) forwards;
}.intro .timer-bar, .intro .start-time {
  -webkit-transition: all 1s cubic-bezier(0,.7,.3,1);
  transition: all 1s cubic-bezier(0,.7,.3,1);
}.actions-text-container {
  height: 100%;
  max-width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 800px;
          perspective: 800px;
  position: absolute;
    left: 24px;
    top: 0;
    right: 220px;
    bottom: 0;
}.actions-text-container .actions-text {
  font-size: 12.5px;
  line-height: 1.5;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}.actions-text-container .actions-text.current {
  opacity: 1;
}.cssanimations .actions-text.current {
  -webkit-animation: show-actions-text 1.6s cubic-bezier(0,.7,.3,1);
          animation: show-actions-text 1.6s cubic-bezier(0,.7,.3,1);
}/* Play button */.button-border-bg {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  top: -10px;
  left: -10px;
  bottom: -10px;
}.button-border-bg .button-border {
  stroke-dasharray: 174.7667694091797;
  stroke-dashoffset: 174.7667694091797;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}.button-border-bg:after {
  content: "";
  position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
  background: white;
  border-radius: 50%;
}.cssanimations .button-border-bg.countdown .button-border {
  -webkit-animation: show-button-border 6s linear forwards;
          animation: show-button-border 6s linear forwards;
}.brew-guide-button {
  background: #e9532f;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 16px 0 #CC4535;
          box-shadow: 4px 4px 16px 0 #CC4535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  height: 56px;
  line-height: 56px;
  position: absolute;
    left: 2px;
    bottom: 84px;
  text-align: center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  width: 56px;
  z-index: 10;
  -webkit-transition: all .8s cubic-bezier(0,.7,.3,1);
  transition: all .8s cubic-bezier(0,.7,.3,1);
}.mob-start-button {
  display: none;
}.brew-guide.welcome .brew-guide-button {
  background: #e9532f;
  height: 100px;
  width: 100px;
  line-height: 105px;
  -webkit-transform: translateX(594px);
  transform: translateX(594px);
}.brew-guide.welcome .button-border-bg {
  display: none;
}.cssanimations.intro .brew-guide.welcome .brew-guide-button {
  -webkit-animation: show-start-button 1s .5s cubic-bezier(.54,-0.41,.29,1.42) forwards;
  animation: show-start-button 1s .5s cubic-bezier(.54,-0.41,.29,1.42) forwards;
  -webkit-transition: none;
  transition: none;
  opacity: 0;
}.brew-guide-button.paused, .brew-guide-button.playing {
  background: #fff;
}.brew-guide-button.paused img, .brew-guide-button.playing img {
  margin-left: 3px;
}.brew-guide-button.playing img {
  margin-left: 0;
}.brew-guide-button-start .start-text {
  display: block;
  color: #fff;
  font-size: 10px;
  font-weight: 800;
  line-height: 100px;
  text-transform: uppercase;
  letter-spacing: 1.25;
  width: 100px;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}.brew-guide-button-start .start-arrow {
  margin: 0 0 -4px 5px;
}.brew-guide-button-start, .brew-guide-button-play, .brew-guide-button-pause, .brew-guide-button-end, .brew-guide-button-next {
  display: none;
}.brew-guide-button-play {
  height: 15px;
  margin: 0;
  position: relative;
  width: 15px;
}.brew-guide-button-play img {
  position: absolute;
  left: 2px;
}.brew-guide-button.start .brew-guide-button-start, .brew-guide-button.standalone .brew-guide-button-next, .brew-guide-button.playing .brew-guide-button-pause, .brew-guide-button.paused .brew-guide-button-play, .brew-guide-button.end .brew-guide-button-end {
  -webkit-animation: fade-in-zoom .5s cubic-bezier(.54,-0.41,.29,1.42) forwards;
          animation: fade-in-zoom .5s cubic-bezier(.54,-0.41,.29,1.42) forwards;
  opacity: 0;
  display: block;
}.brew-guide-button.standalone .button-border-bg, .brew-guide-button.end .button-border-bg {
  display: none;
}/* Action text */.actions-text-container .actions-text {
  opacity: 0;
}.actions-text-container .actions-text.current {
  opacity: 1;
}/* Toggle autoplay */.autoplay-container {
  position: absolute;
    right: 39px;
    top: 22px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}.autoplay-container .autoplay-text {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 11px;
  line-height: 1.35;
  letter-spacing: 1.1;
  display: inline-block;
}.autoplay-container .autoplay-toggle {
  margin: -3px 0 0 6px;
}.autoplay-container.hidden {
  opacity: 0;
}.tgl {
  display: none;
}.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}.tgl + .tgl-btn {
  font-size: 8px;
  outline: 0;
  display: block;
  width: 24px;
  height: 15px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 3px;
  height: 3px;
  top: 7%;
}.tgl + .tgl-btn:after {
  left: 0;
}.tgl + .tgl-btn:before {
  display: none;
}.tgl:checked + .tgl-btn:after {
  top: 7%;
  left: 55%;
}.tgl-flat + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  border: 2px solid  #000;
  border-radius: 2em;
}.tgl-flat + .tgl-btn:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border: 2px solid #000;
  content: "";
  left: 60%;
  border-radius: 50%;
}.tgl-flat:checked + .tgl-btn {
  border: 2px solid #000;
  background: #baddd4;
}.tgl-flat:checked + .tgl-btn:after {
  background: #000;
  left: 6.5%;
  border-color: #000;
}
