/* Mobile overrides for the styles of the Brew Guide */


/* Smartphones (portrait and landscape) ———– */
@media only screen
and (min-width : 320px)
and (max-width : 520px) {
  .brew-guide {
    -webkit-animation: none !important;
            animation: none !important;
    background: #fff;
    box-shadow: none;
    height: 100%;
      left: auto;
    opacity: 1 !important;
    overflow: visible;
    position: relative;
      top: auto;
    -webkit-transform: none;
            transform: none;
    width: 100%;
  }
  .red-bg-container, .step {
    display: none !important;
  }
  .steps .step.current {}
  .steps .step-title {
    -webkit-transform: none;
    transform: none;


  }
  .brew-guide .welcome-container {
    max-width: 600px;
    padding: 40px 20px;
    width: 100%;


  }
  .brew-guide .description {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
    font-size: 15px;
    line-height: 1.6;
    padding: 32px 10px 38px 40px;


  }
  .brew-guide .youll-need {
    display: block;


  }
  .brew-guide .youll-need .col {
    width: 100% !important;


  }
  .brew-guide .youll-need .col .row {
    width: 100%;


  }
  .brew-guide .youll-need .col .row .icon {
    width: 25%;


  }
  .brew-guide .youll-need .cups {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
    background-image: url(../images/icons/icon-cup.svg);
    background-position: center 20px;
    background-size: 26px;


  }
  .brew-guide .youll-need .items li {
    font-size: 12.5px;
    padding-left: 8px;


  }
  .welcome-container {
    position: relative;
  }
  .mob-start-button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #e9532f;
    border-radius: 50%;
      bottom: 14px;
    box-shadow: 4px 4px 16px 0 #CC4535;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 105px;
    position: absolute;
      right: 26px;
    text-align: center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    width: 100px;
    z-index: 10;
  }
  .start-text {
    color: #fff;
    display: block;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1.25;
    line-height: 100px;
    text-transform: uppercase;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100px;
  }
  .start-arrow {
    bottom: 20px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    -webkit-transform: rotateZ(90deg) translateY(3px);
            transform: rotateZ(90deg) translateY(3px);
  }
  .steps {
    display: block;
    position: relative;
    z-index: 2;
  }
  .step-bg-container {
    background: #e9532f;
      left: auto;
    padding-top: 100px;
    position: relative;
      right: auto;
    width: 100vw;
    z-index: 1;
  }
  .step-bg-container .step-bg {
    display: block;
    height: 100%;
    margin: 0 auto;
    max-height: 100vh;
    max-width: 100%;
    opacity: 1;
    position: relative;


  }
  .step-bg-container .step-bg img {
    display: block;
    height: 100vh;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);


  }
  .steps .current {
    left: 10px;
    top: 10px;


  }


}