/* -------------------------------------------------- 
   :: Reset 
   ----------------------------------------------- */

.brew-guide {
  line-height: 1;
  
  h1, h2, h3, p, a, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
}