@import "default";

/* Settings */

/* Dimensions */

$width: 742px;
$height: 500px;
$previous-width: 16px;
$previous-widthx2: 32px;
$next-width: 34px;
$next-widthx2: 68px;
$currentLeft: 68px;
$stepInvisibleLeft: 104px;

/* Colours */
$red: #EA5230;
$red2: #EE755A;
$red3: #F0866E;
$red4: #F29783;

/* General layout */

.welcome .red-bg {
  transform: translateX($width);
}

.red-bg {
  background: $red;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: 1;
}

.brew-guide {
  background: #fff;
  height: $height;
  width: $width;
  box-shadow: 0 2px 12px $red4;
  overflow: hidden;
  position: absolute;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
}

.brew-guide {
  /* Welcome step styles */
  .title {

  }
  .description {

  }
  .youll-need {
    position: relative;

    &:after {
      border: 2px solid #000;
      content: "";
      position: absolute;
    }

    .col:first-child {

    }

    .col:last-child {

    }

    .icon {
      background: no-repeat bottom center;

      .label {
        
      }
    }

    .amount {
      background-image: url(/images/icons/icon-coffee-grounds.svg);
    }
    .weight {
      .label {
        text-transform: uppercase;
        display: block;
        font-size: 10px;
      }
    }
    .temp {
      background-image: url(/images/icons/icon-temperature.svg);
    }
    .water {

    }
    .time {

    }
    .cups {

    }
  }


}

/* General animations */

.fade-up {
  opacity: 0;
  transform: translateY(18px);
  transition: all .5s ease-out;
}

.fade-in {
  opacity: 0;
  transition: all .5s ease-out;
}

.fade-zoom {
  opacity: 0;
  transform: scale(.8);
  transition: all .5s cubic-bezier(0,1.5,1,1);
}

.is-visible {
  opacity: 1;
  transform: translateY(0) !important;
}

/* Steps */

.steps {
  z-index: 2;
  position: absolute;
  pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  .step {
    height: $height;
    opacity: 0;
    position: absolute;
      top: 0;
      left: $stepInvisibleLeft;
  }

  .step-title {
    font-weight: 800;
    position: absolute;
      left: -62px;
      top: 112px;
    width: 160px;
    transform: rotateZ(-90deg);
  }

  .previous {
    opacity: 1;
    width: $previous-width;
    right: auto;

    .step-title {
      opacity: 0;
    }
  }

  .current {
    left: 8%;
    opacity: 1;
  }

  .previous.bg-3 {
    background: $red2;
  }

  .previous.bg-2 {
    background: $red3;
  }

  .previous.bg-1 {
    background: $red4;
  }

  .previous.position-2 {
    left: $previous-widthx2;
  }

  .previous.position-1 {
    left: $previous-width;
  }

  .previous.position-0 {
    left: 0;
  }

  .next {
    opacity: 1;
    right: 0;
    left: auto;
    width: $next-width;
  }

  .next.bg-0 {
    background: $red2;
  }

  .next.bg-1 {
    background: $red3;
  }

  .next.bg-2 {
    background: $red4;
  }

  .next.position-1 {
    right: $next-width;
  }

  .next.position-2 {
    right: $next-widthx2;
  }

}

.brew-guide.welcome .next.bg-0 {
  background: $red;
}

.welcome .step.current {
  left: 1%;
}

.step-bg {
  display: none;
}

.step-bg.current {
  display: block;
}

/* Background images */


.step-bg-container {
  position: relative;
  z-index: 1;

  .step-bg {
    opacity: 0;
  }

  .step-bg.current {
    opacity: 1;
  
    img {
      display: block;
      height: 100%;
      max-height: 430px;
      margin: 0 auto;
    }
  } 
}


/* Actions */

.actions-container {
  background: #fff;
  bottom: 0;
  height: 22%;
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.actions {
  display: flex;
  height: 16px;
  margin-left: 20%;
  position: relative;
  width: 483px;

  .action {
    display: inline-block;
    border-top: 2px solid transparent;
    height: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 40px;
  }

  .action:after {
    content: "";
    background: #000;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
      top: -7px;
      left: 0px;
    width: 8px;
    height: 8px;
  }

  .action.current:after {
    background: #fff;
  }

  .action.zero {
    display: none;
  }

  .action.timed {
    border-top: 2px solid #000;
    margin-left: -2px;
  }

  .timed-area {
    min-width: 83%;
  }

  .action.standalone {
    min-width: 20px;
  }

  .action:last-child {
    width: 210px;
    margin-left: -14px;
  }

  .timed-area {
    position: relative;
    margin-left: 20px;
  }

  .timer {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -18px;
  }

  .start-time {
    left: -2px;
  }

  .end-time {
    right: -3px;
  }

  .new-end-time {
    left: auto !important;
    right: -3px;
  }

  .timer-bar {
    height: 100%;
    background: #C1DCD4;
    position: absolute;
      top: 0px;
      left: 3px;
    width: 0;
  }
}

.actions-text-container {
  position: absolute;
    left: 10%;
    top: 32%;
    right: 35%;

  .actions-text {
    font-size: .9em;
    line-height: 1.5;
    position: absolute;
  }
}

/* Play button */

.brew-guide-button {
  background: $red;
  border-radius: 50%;
  box-shadow: 4px 4px 16px 0 #CC4535;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 58px;
  line-height: 58px;
  position: absolute;
    left: 18px;
    bottom: 82px;
  text-align: center;
  transform: translateZ(0);
  width: 58px;
  z-index: 10;
}

.brew-guide.welcome {
  .brew-guide-button {
    background: $red;
    left: auto;
    right: 56px;
    bottom: 78px;
    height: 100px;
    width: 100px;
    line-height: 105px;
  }
}

.brew-guide-button:hover {
  animation: border 5s linear forwards;
  /* Note: Add in an animated SVG stroke border on the element */;
}

.brew-guide-button.paused,
.brew-guide-button.playing {
  background: #fff;
  img {
    margin-left: 3px;
  }
}

.brew-guide-button-start {
  .start-text {
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 10px;
  }
  .start-arrow {
    position: absolute;
    right: 8px;
    top: calc(50% - 9px);
  }
}

.brew-guide-button-start,
.brew-guide-button-play,
.brew-guide-button-pause,
.brew-guide-button-end,
.brew-guide-button-next {
  display: none;
}

.brew-guide-button.start .brew-guide-button-start {
  display: block;
}

.brew-guide-button.standalone .brew-guide-button-next {
  display: block;
}

.brew-guide-button.playing .brew-guide-button-pause {
  display: block;
}

.brew-guide-button.paused .brew-guide-button-play {
  display: block;
}

.brew-guide-button.end .brew-guide-button-end {
  display: block;
}


/* Action text */

.actions-text-container {
  .actions-text {
    opacity: 0;

  }
  .actions-text.current {
    opacity: 1;
  }
}

/* Toggle autoplay */

.autoplay-container {
  position: absolute;
    right: 20%;
    top: 22px;
  width: 102px;
  display: flex;

  .autoplay-text {
    text-transform: uppercase;
    font-weight: 800;
    font-size: .8em;
    line-height: 1.33;
    letter-spacing: 1.1;
    display: inline-block;
  }

  .autoplay-toggle {
    margin: -4px 0 0 10px;
  }
}

.tgl {
  display: none;
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }
  
  + .tgl-btn {
    font-size: 10px;
    outline: 0;
    display: block;
    width: 3.4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: .6em;
      height: .6em;
      top: 7%;
    }
    
    &:after {
      left: 0;
    }
    
    &:before {
      display: none;
    }
  }
  
  &:checked + .tgl-btn:after {
    top: 7%;
    left: 55%;
  }
}


.tgl-flat {
  + .tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    background: #fff;
    border: 2px solid  #aaa;
    border-radius: 2em;
    &:after {
      transition: all .2s ease;
      border: 2px solid #aaa;
      content: "";
      left: 60%;
      border-radius: 50%;
    }
  }
  
  &:checked + .tgl-btn {
    border: 2px solid #000;
    background: #BADDD4;
    &:after {
      background: #000;
      left: 7.5%;
      border-color: #000;
    }
  }
}
