@import "default";

/* Dimensions */

$width: 742px;
$height: 500px;
$previous-width: 16px;
$previous-widthx2: 32px;
$current-width: 34px;
$next-width: 34px;
$next-widthx2: 68px;
$next-widthx3: 102px;
$currentLeft: 68px;
$stepInvisibleLeft: -16px;

/* Colours */
$red: #e9532f;
$red2: #ed764f;
$red3: #ef8661;
$red4: #f19572;
$green: #baddd4;

/* Animation-related */
$slight-bounce: cubic-bezier(0,1,.5,1.17);
$exponential-ease: cubic-bezier(0,.7,.3,1);

/* General layout */

.red-bg-container {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.welcome .red-bg {
  transform: translateX($width);
  transition: all 1.4s $exponential-ease;
}

.red-bg {
  background: $red;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: 1;
  transition: all .8s $exponential-ease;
}

.brew-guide {
  background: none;
  height: $height;
  width: $width;
  position: absolute;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  transition: width .5s linear;
}

html[data-next="2"] {
  .brew-guide {
    width: 735px;
  }
}

html[data-next="1"] {
  .brew-guide {
    width: 701px;
  }
}

html[data-next="0"] {
  .brew-guide {
    width: 667px;
  }
}

.cssanimations {
  .brew-guide {
    animation: introduce-container 1.2s .3s $slight-bounce forwards;
    opacity: 0;
  }
}


.brew-guide {


  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  *:after {
    box-sizing: content-box;
  }

  /* Welcome step styles */
  .welcome-container {
    padding: 40px 80px;
    width: 100%;
    max-width: 600px;
  }
  .title {
    color: $red;
    font-size: 28px;
    font-weight: 800;
    line-height: 1.25;

    h1 {
      animation-delay: .5s;
    }
  }
  .description {
    animation-delay: .8s;
    color: $red;
    font-size: 15px;
    padding: 32px 20px 38px 110px;
    line-height: 1.6;
  }
  .youll-need {
    animation-delay: 1s;
    animation-duration: 1.8s;
    border: 2px solid #000;
    display: flex;
    max-width: 420px;
    padding: 16px 10px 8px;
    position: relative;
    width: 100%;

    &:before {
      background: #fff;
      content: "You'll need:";
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 1.5px;
      font-weight: 600;
      position: absolute;
        top: -4px;
        left: -4px;
      width: 114px;
      height: 26px;
    }

    .row {
      display: flex;
    }

    .col:first-child {
      width: 60%;
    }

    .col:last-child {
      width: 40%;
    }

    .icon {
      background-size: 22px 22px;
      background: no-repeat bottom center;
      display: inline-block;
      font-size: 12px;
      font-weight: 800;
      position: relative;
      width: 32px;
      height: 40px;
      margin: 16px 10px;

      .label {
        position: absolute;
          top: 0;
          left: 0;
          right: 0;
        text-align: center;
      }
    }

    .amount {
      animation-delay: 1.2s;
      background-image: url(../images/icons/icon-coffee-grounds.svg);
    }
    .coarseness {
      animation-delay: 1.3s;
      display: inline-block;
      height: 40px;
      margin: 16px 10px;
      position: relative;

      .arrow {
        animation-delay: 1.8s;
        animation-duration: 2s;
        position: absolute;
        top: 33px;
      }

      .label {
        text-transform: uppercase;
        display: block;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 1.5px;
        padding-bottom: 10px;
      }
    }
    .coarseness.level-1 .arrow { left: -4px; }
    .coarseness.level-2 .arrow { left: 8px; }
    .coarseness.level-3 .arrow { left: 18px; }
    .coarseness.level-4 .arrow { left: 29px; }
    .coarseness.level-5 .arrow { left: 39px; }
    .coarseness.level-6 .arrow { left: 48px; }
    .coarseness.level-7 .arrow { left: 57px; }
    .coarseness.level-8 .arrow { left: 67px; }
    .coarseness.level-9 .arrow { left: 76px; }
    .coarseness.level-10 .arrow { left: 85px; }
    .coarseness.level-11 .arrow { left: 94px; }
    .coarseness.level-12 .arrow { left: 103px; }
    .coarseness.level-13 .arrow { left: 111px; }
    .coarseness.level-14 .arrow { left: 120px; }
    .temp {
      animation-delay: 1.4s;
      background-image: url(../images/icons/icon-temperature.svg);
    }
    .water {
      animation-delay: 1.5s;
      background-image: url(../images/icons/icon-water.svg);
    }
    .time {
      animation-delay: 1.6s;
      background-image: url(../images/icons/icon-time.svg);
    }
    .cups {
      animation-delay: 1.7s;
      background-image: url(../images/icons/icon-cup.svg);
      background-size: 26px;
      background-position: 4px 18px;
    }

    .items {
      margin: 16px 0;
    }
    .items li {
      line-height: 1.6;
      font-size: 16px;
    }

    .items li:before {
      content: "\2013\ ";
    }
  }


}

.main-content {
  background: #fff;
  height: 500px;
  position: relative;
  width: 615px;
  margin: 0 0 0 30px; /* Adjust the left margin based on number of previous items */
  z-index: 5;
}

/*.main-content.shadowed {
  box-shadow: 0 1px 12px 2px #D05C47;
}*/

/* Steps */

.steps {
  z-index: 1;
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
  display: flex;

  .step {
    background: #ed764f;
    height: $height;
    cursor: pointer;
    display: inline-block;
    left: 0;
    will-change: opacity;
    transition: opacity .5s linear;
    position: absolute;
  }

  .step:hover {
    /*transition: all .5s ease-out;*/
  }

  .step-title {
    font-weight: 800;
    position: absolute;
      left: -62px;
      top: 112px;
    width: 160px;
    opacity: 0;
    transition: opacity .3s .5s linear;
    transform: rotateZ(-90deg);
  }

  .previous {
    width: $previous-width;

    .step-title {
      opacity: 1;
    }
  }

  .current {
    background: $red2;
    cursor: default;
    transform: translateX(-4px);
    width: 40px;
    opacity: 1;
    z-index: 2;

    .step-title {
      opacity: 1;
      transition: opacity .3s linear;
      left: -62px;
    }
  }

  .previous {
    background: $red3;
    width: $previous-width;
    transform: translateX(-17px);
    /*transition-delay: 1s, 1s, 1s;*/
    .step-title {
      opacity: 0;
      /*transition-delay: .6s;*/
    }
  }

  .next {
    width: 38px;

    .step-title {
      opacity: 1;
      transition: all .3s ease-out;
    }
  }

  .next:hover {
    .step-title {
      transform: rotateZ(-90deg) translateY(5px);
    }
  }

  .next.bg-0 {
    background: $red2;
  }

  .next.bg-1 {
    background: $red3;
  }

  .next.bg-2 {
    background: $red4;
  }

  .next-0 {
    transform: translateX(642px);
  }

  .next-1 {
    transform: translateX(677px);
  }

  .next-2 {
    transform: translateX(712px);
  }

}

.brew-guide.welcome .next.bg-0 {
  background: $red;
}

.welcome .step.current {
  display: none;
}

.step[data-step="welcome"] {
  background: $red3;
  width: $previous-width;
  transform: translateX(-17px);
  /*transition-delay: 1s, 1s, 1s;*/
  .step-title {
    opacity: 0;
    /*transition-delay: .6s;*/
  }
}

/*.step[data-step="welcome"]:hover {
  width: 24px;
  transform: translateX(-22px);
}*/

/* Background images */


.step-bg-container {
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
  z-index: 1;

  .step-bg {
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease-out;

    img {
      display: block;
      height: 100%;
      max-height: 500px;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .step-bg.current {
    opacity: 1;
  } 
}


.step-bg {
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
  text-align: center;
  opacity: 0;

}

.step-bg.hide {
  animation: fade-out .3s ease-out forwards;
  opacity: 1;
}

.step-bg.current {
  animation: fade-in-left 2.5s $exponential-ease forwards;
  opacity: 0;
}


/* Actions */

.actions-container {
  background: #fff;
  bottom: -1px;
  height: 22%;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.actions {
  display: flex;
  height: 16px;
  margin-left: 20%;
  position: relative;
  width: 483px;

  .action {
    cursor: pointer;
    display: inline-block;
    border-top: 2px solid transparent;
    height: 10px;
    list-style: none;
    margin: 0;
   /* padding: 10px;*/
    position: relative;
    min-width: 26px;
    top: -1px;
    z-index: 10;
  }

  .action:after {
    content: "";
    background: #000;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
      top: -6px;
      left: 0px;
    width: 6px;
    height: 6px;
  }

  .action.current:after {
    animation: highlight-current-action 1s cubic-bezier(.54,-0.41,.29,1.42) forwards;
    background: #fff;
  }

  .action.zero {
    display: none;
  }

  .action.timed {
    border-top: 2px solid #000;
/*    margin-left: -2px;*/
  }

  .timed-area {
    min-width: 74.5%;
  }

  .action.standalone {
    min-width: 20px;
  }



  .action.standalone:last-child {
    /*width: 210px;
    margin-left: -20px;*/
    left: -5px;
  }

  .timed-area {
    position: relative;
    margin-left: 20px;
  }

  .timer {
    font-size: 14px;
    font-weight: 600;
    position: absolute;
      top: -24px;
  }

  .start-time {
    left: -2px;
    transition: all 1s linear;
  }

  .end-time {
    right: -3px;
    transition: all .5s ease-out;
  }

  .new-end-time {
    left: auto !important;
    right: -3px;
  }

  .timer-bar {
    height: 12px;
    background: $green;
    position: absolute;
      top: 0px;
      left: 3px;
    width: 0;
    transition: all 1s linear;
  }
}

.actions-container-container {
  overflow: hidden;
  position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  z-index: 1;
}

.brew-guide:not(.welcome) .actions-container {
  animation: show-actions-area 1s $exponential-ease forwards;
}

.intro .timer-bar,
.intro .start-time {
  transition: all 1s $exponential-ease;
}

.actions-text-container {
  height: 100%;
  max-width: 100%;
  transform-style: preserve-3d;
  perspective: 800px;
  position: absolute;
    left: 24px;
    top: 0;
    right: 220px;
    bottom: 0;

  .actions-text {
    font-size: 12.5px;
    line-height: 1.5;
    position: absolute;
      top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .2s ease-out;
  }

  .actions-text.current {
    opacity: 1;
  }
}

.cssanimations .actions-text.current {
  animation: show-actions-text 1.6s $exponential-ease;
}

/* Play button */

.button-border-bg {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  top: -10px;
  left: -10px;
  bottom: -10px;

  .button-border {
    stroke-dasharray: 174.7667694091797;
    stroke-dashoffset: 174.7667694091797;
    transform-origin: 50% 50%;
  }
}

.button-border-bg:after {
  content: "";
  position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
  background: white;
  border-radius: 50%;
}

.cssanimations .button-border-bg.countdown .button-border {
  animation: show-button-border 6s linear forwards;
}

.brew-guide-button {
  background: $red;
  border-radius: 50%;
  box-shadow: 4px 4px 16px 0 #CC4535;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 56px;
  line-height: 56px;
  position: absolute;
    left: 2px;
    bottom: 84px;
  text-align: center;
  transform: translateZ(0);
  width: 56px;
  z-index: 10;
  transition: all .8s $exponential-ease;
}

.mob-start-button {
  display: none;
}

.brew-guide.welcome {
  .brew-guide-button {
    background: $red;
    height: 100px;
    width: 100px;
    line-height: 105px;
    transform: translateX(594px);
  }
  .button-border-bg {
    display: none;
  }
}

.cssanimations.intro {
  .brew-guide.welcome .brew-guide-button {
    animation: show-start-button 1s .5s cubic-bezier(.54,-0.41,.29,1.42) forwards;
    transition: none;
    opacity: 0;
  }
}

.brew-guide-button.paused,
.brew-guide-button.playing {
  background: #fff;
  img {
    margin-left: 3px;
  }
}

.brew-guide-button.playing {
  img {
    margin-left: 0;
  }
}

.brew-guide-button-start {
  .start-text {
    display: block;
    color: #fff;
    font-size: 10px;
    font-weight: 800;
    line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 1.25;
    width: 100px;
    transform: translateX(10px);
  }
  .start-arrow {
    margin: 0 0 -4px 5px;
  }
}

.brew-guide-button-start,
.brew-guide-button-play,
.brew-guide-button-pause,
.brew-guide-button-end,
.brew-guide-button-next {
  display: none;
}

.brew-guide-button-play {
  height: 15px;
  margin: 0;
  position: relative;
  width: 15px;
}

.brew-guide-button-play img {
  position: absolute;
  left: 2px;
}

.brew-guide-button.start .brew-guide-button-start,
.brew-guide-button.standalone .brew-guide-button-next,
.brew-guide-button.playing .brew-guide-button-pause,
.brew-guide-button.paused .brew-guide-button-play,
.brew-guide-button.end .brew-guide-button-end {
  animation: fade-in-zoom .5s cubic-bezier(.54,-0.41,.29,1.42) forwards;
  opacity: 0;
  display: block;
}

.brew-guide-button.standalone,
.brew-guide-button.end {
  .button-border-bg {
    display: none;
  }
}

/* Action text */

.actions-text-container {
  .actions-text {
    opacity: 0;

  }
  .actions-text.current {
    opacity: 1;
  }
}

/* Toggle autoplay */

.autoplay-container {
  position: absolute;
    right: 39px;
    top: 22px;
  transition: all .5s ease-out;
  width: 100px;
  display: flex;

  .autoplay-text {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 11px;
    line-height: 1.35;
    letter-spacing: 1.1;
    display: inline-block;
  }

  .autoplay-toggle {
    margin: -3px 0 0 6px;
  }
}

.autoplay-container.hidden {
  opacity: 0;
}

.tgl {
  display: none;
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }
  
  + .tgl-btn {
    font-size: 8px;
    outline: 0;
    display: block;
    width: 24px;
    height: 15px;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 3px;
      height: 3px;
      top: 7%;
    }
    
    &:after {
      left: 0;
    }
    
    &:before {
      display: none;
    }
  }
  
  &:checked + .tgl-btn:after {
    top: 7%;
    left: 55%;
  }
}


.tgl-flat {
  + .tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    background: #fff;
    border: 2px solid  #000;
    border-radius: 2em;
    &:after {
      transition: all .2s ease;
      border: 2px solid #000;
      content: "";
      left: 60%;
      border-radius: 50%;
    }
  }
  
  &:checked + .tgl-btn {
    border: 2px solid #000;
    background: $green;
    &:after {
      background: #000;
      left: 6.5%;
      border-color: #000;
    }
  }
}
